@use "../style/variable" as variable;

$class-prefix-safe-area: 'triones-antm-safe-area';

$safeAreaMultiple : variable.$trionesSafeAreaMultiple;

.#{$class-prefix-safe-area} {
  height: 100%;
  display: block;
  width: 100%;
  box-sizing: border-box;

  &-position-top {
    padding-top: calc(env(safe-area-inset-top) * $safeAreaMultiple);
  }

  &-position-bottom {
    padding-bottom: calc(env(safe-area-inset-bottom) * $safeAreaMultiple);
  }
}
