@use "../style/variable" as *;
$trionesNavBarColorBg:$trionesColorBorderBg !default;
$trionesNavBarColorText:$trionesColorTextBase !default;

$class-prefix-nav-bar: 'triones-antm-nav-bar';
/* prettier-ignore */
.#{$class-prefix-nav-bar} {
  --height: 45PX;
  --border-bottom: none;
  display: flex;
  align-items: center;
  height: var(--height);
  border-bottom: var(--border-bottom);
  padding: 0 12PX;
  white-space: nowrap;
  color: $trionesNavBarColorText;
  background-color: $trionesNavBarColorBg;

  &-left,
  &-right {
    flex: 1;
  }
  &-title {
    flex: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-back {
    display: flex;
    align-items: center;
    margin-right: 16PX;
    padding: 6PX 0;
    cursor: pointer;
    &-arrow {
      font-size: 20PX;
      margin-right: 5PX;
      display: flex;
      align-items: center;
    }
  }

  &-left {
    font-size: var(--triones-antm-font-size-7);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-title {
    justify-content: center;
    white-space: nowrap;
    font-size: var(--triones-antm-font-size-10);
    padding: 0 12PX;
  }

  &-right {
    text-align: right;
  }
}
