/* prettier-ignore */
$color-primary: #fa2c19;
$color-primary-text: #fff;
$badge-height: 14PX;
$badge-background-color: linear-gradient(135deg, #f53d4d 0%, #fa2c19 100%);
$badge-color: #fff;
$badge-font-size: 10PX;
$badge-border: 0PX solid #fff;
$badge-border-radius: $badge-height;
$badge-min-width: 5PX;
$badge-padding: 0 4PX;
$badge-icon-padding: 3PX;
$badge-icon-size: 12PX;
$badge-content-transform: translateY(-50%) translateX(100%);
$badge-z-index: 1;
$badge-dot-width: 7PX;
$badge-dot-border: 0PX solid #fff;

.triones-antm-badge {
  position: relative;
  display: inline-block;

  &-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $badge-background-color;
    top: -10%;
    right: -15%;
    padding: $badge-icon-padding;
    text-align: center;
    border: $badge-border;
    border-radius: $badge-border-radius;
    z-index: $badge-z-index;

    .triones-antm-icon {
      width: $badge-icon-size;
      height: $badge-icon-size;
      font-size: $badge-icon-size;
    }
  }

  &-sup {
    height: $badge-height;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $badge-background-color;
    color: $badge-color;
    padding: $badge-padding;
    font-size: $badge-font-size;
    font-weight: normal;
    text-align: center;
    border: $badge-border;
    border-radius: $badge-border-radius;
    min-width: $badge-min-width;
    white-space: nowrap;
    z-index: 1;
  }

  &-one {
    height: $badge-height;
    width: $badge-height;
    padding: 0;
  }

  &-content {
    transform: $badge-content-transform;
  }

  &-dot {
    width: $badge-dot-width;
    height: $badge-dot-width;
    border: $badge-dot-border;
    border-radius: $badge-dot-width;
    padding: 0;
  }

  &-outline {
    .triones-antm-badge-content {
      background: $color-primary-text;
      border: 1PX solid $color-primary;
      color: $color-primary;
    }
  }
}

[dir='rtl'] .triones-antm-badge,
.triones-antm-rtl .triones-antm-badge {
  &-icon {
    right: auto;
    left: -15%;
  }

  &-content {
    transform: translateY(-50%) translateX(-100%);
  }
}
