$class-prefix-result: 'triones-antm-result';
/* prettier-ignore */
.#{$class-prefix-result} {
  padding: 32PX 12PX;
  background-color: var(--triones-antm-color-background);

  &-icon {
    box-sizing: border-box;
    width: 64PX;
    height: 64PX;
    margin: 0 auto 20PX auto;
    padding: 6PX;

    .antd-mobile-icon {
      font-size: 52PX;
    }
  }

  &-title {
    color: var(--triones-antm-color-text);
    font-size: var(--triones-antm-font-size-10);
    line-height: 1.4;
    text-align: center;
  }

  &-description {
    margin-top: 8PX;
    color: var(--triones-antm-color-weak);
    font-size: var(--triones-antm-font-size-main);
    line-height: 1.4;
    text-align: center;
  }
}

.#{$class-prefix-result}-success {
  .#{$class-prefix-result}-icon {
    .antd-mobile-icon {
      color: var(--triones-antm-color-primary);
    }
  }
}

.#{$class-prefix-result}-error {
  .#{$class-prefix-result}-icon {
    .antd-mobile-icon {
      color: var(--triones-antm-color-danger);
    }
  }
}

.#{$class-prefix-result}-info {
  .#{$class-prefix-result}-icon {
    .antd-mobile-icon {
      color: var(--triones-antm-color-primary);
    }
  }
}

.#{$class-prefix-result}-waiting {
  .#{$class-prefix-result}-icon {
    .antd-mobile-icon {
      color: var(--triones-antm-color-success);
    }
  }
}

.#{$class-prefix-result}-warning {
  .#{$class-prefix-result}-icon {
    .antd-mobile-icon {
      color: var(--triones-antm-color-warning);
    }
  }
}
