$class-prefix-image: 'triones-antm-image';

.#{$class-prefix-image} {
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  &-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &-tip {
    position: relative;
    background-color: var(--triones-antm-color-fill-content);
    height: 100%;
    min-height: 24px;
    min-width: 24px;
    > svg {
      width: 24px;
      height: 24px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--triones-antm-color-weak);
    }
  }
}
