@use "../style/variable" as variable;

$cellCls: 'triones-antm-cell';

.#{$cellCls} {
  display: flex;
  gap: 4Px;

  &-wrapper {
    display: flex;
    flex: 1 auto;
  }

  &-label {
    display: flex;
    align-items: center;
  }

  &-content {
    flex: 1 auto;
    display: flex;
    align-items: center;
  }

  &-extra {
  }

  &-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-placeholder{
    font-size: 14Px;
    color: #cccccc;
  }
}

.#{$cellCls}-group {
  display: flex;
  flex-direction: column;
  border-radius: variable.$trionesBorderRadius;

  &-title {
    padding: 4Px 4Px;
    display: flex;
    justify-content: space-between;

    &-text {
    }

    &-extra {
    }
  }
}
