@use "../style/variable" as variable;

$cellCls: 'triones-antm-cell';

.#{$cellCls} {
  padding-block: 4Px;
  display: flex;
  gap: 4Px;


  &-label {
    display: flex;
    align-items: center;
  }

  &-content {
    flex: 1 auto;
    display: flex;
    align-items: center;
  }

  &-extra {
  }


  &-placeholder {
    font-size: variable.$trionesFontSize;
    color: variable.$trionesColorTextPlaceholder;
  }
}

.#{$cellCls}-group {
  display: flex;
  flex-direction: column;
  border-radius: variable.$trionesBorderRadius;

  &-title {
    padding: 4Px 4Px;
    display: flex;
    justify-content: space-between;

    &-text {
    }

    &-extra {
    }
  }
}
