@import "../style/variable";
$tagCls: 'triones-antm-tag';

.#{$tagCls} {
  display: inline-block;
  align-items: center;
  padding: 2Px 8Px;
  font-size: 11Px;
  line-height: 1.2;
  border-radius: $trionesBorderRadius;
  box-sizing: border-box;
  white-space: nowrap;

  &-square {
    border-radius: 0;
  }

  &-round {
    border-radius: 12px;
  }

  // Default variant styles
  &-default {
    &.#{$tagCls}-solid {
      background: #666;
      color: #fff;
    }
    &.#{$tagCls}-outline {
      color: #666;
      border: 1px solid #666;
      background: transparent;
    }
  }

  // Primary variant styles
  &-primary {
    &.#{$tagCls}-solid {
      background: $trionesColorPrimary;
      color: #fff;
    }
    &.#{$tagCls}-outline {
      color: $trionesColorPrimary;
      border: 1px solid $trionesColorPrimary;
      background: transparent;
    }
  }

  // Success variant styles
  &-success {
    &.#{$tagCls}-solid {
      background: $trionesColorSuccess;
      color: #fff;
    }
    &.#{$tagCls}-outline {
      color: $trionesColorSuccess;
      border: 1px solid $trionesColorSuccess;
      background: transparent;
    }
  }

  // Warning variant styles
  &-warning {
    &.#{$tagCls}-solid {
      background: $trionesColorWarning;
      color: #fff;
    }
    &.#{$tagCls}-outline {
      color: $trionesColorWarning;
      border: 1px solid $trionesColorWarning;
      background: transparent;
    }
  }

  // Danger variant styles
  &-danger {
    &.#{$tagCls}-solid {
      background: $trionesColorError;
      color: #fff;
    }
    &.#{$tagCls}-outline {
      color: $trionesColorError;
      border: 1px solid $trionesColorError;
      background: transparent;
    }
  }
}
