@import "../style/variable";
$trionesInputNumberCls: 'triones-antm-input-number';

.#{$trionesInputNumberCls} {
  display: inline-flex;
  align-items: center;
  gap: 4Px;
  border-radius: $trionesBorderRadius;
  background-color: $trionesColorTextQuaternary;

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    border: 0;
    text-align: center;
    width: 30Px;

    &:focus {
      outline: none;
    }
  }

  &-button {
    cursor: pointer;
    display: flex;
    font-size: 10Px;
    height: 20Px;
    width: 20Px;
    justify-content: center;
    align-items: center;
    &-disabled{
      cursor: not-allowed;
      color: $trionesColorTextDisabled;
    }
    .triones-antm-icon{
      font-size: 10Px!important;
    }
  }
}
