@use "../style/variable" as *;
$trionesInputNumberCls: 'triones-antm-input-number';

$inputNumberBg: #EEEEEE;
$inputSm: 24Px;
$inputLg: 40Px;

.#{$trionesInputNumberCls} {
  display: inline-flex;
  align-items: center;
  gap: 4Px;
  border-radius: $trionesBorderRadius;
  background-color: $inputNumberBg;

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    background-color: transparent;
    border: 0;
    text-align: center;
    width: 32Px;


    &:focus {
      outline: none;
    }
  }

  &-button {
    cursor: pointer;
    display: flex;
    font-size: 10Px;
    height: 32Px;
    width: 32Px;
    justify-content: center;
    align-items: center;
    &-sm{
      width: $inputSm;
      height: $inputSm;
    }
    &-lg{
      width: $inputLg;
      height: $inputLg;
    }
    &-disabled{
      cursor: not-allowed;
      color: $trionesColorTextDisabled;
    }
    .triones-antm-icon{
      font-size: 10Px!important;
    }
  }
}
