@use "../style/variable" as *;

$verificationCodeInputCls: 'triones-antm-verification-code-input';

.#{$verificationCodeInputCls} {
  &-send {
    padding-inline: $trionesPaddingContentHorizontal;
    cursor: pointer;

    &:hover {
      color: $trionesColorPrimary;
    }
  }

  &-counting {
    padding-inline: $trionesPaddingContentHorizontal;
    cursor: not-allowed;
    color: $trionesColorTextDisabled;
  }
}
