@import "../style/variable";
$trionesInputNumberCls: 'triones-antm-input-number';

.#{$trionesInputNumberCls} {
  display: inline-flex;
  align-items: center;
  gap: 4Px;

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    border: 0;
    text-align: center;
    width: 30Px;

    &:focus {
      outline: none;
    }
  }

  &-button {
    cursor: pointer;
    &-disabled{
      cursor: not-allowed;
      color: $trionesColorTextDisabled;
    }
  }
}
