.tag-demo-style {
  padding: 8px;
  &-item {
    margin-bottom: 16px;
  }
  &-title {
    margin-bottom: 8px;
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    row-gap: 8px;
  }
}
