@import "../style/variable";

$class-prefix-switch: 'triones-antm-switch';

@keyframes loading-rotate {
  100% {
    transform: rotate(1turn);
  }
}

/* prettier-ignore */
.#{$class-prefix-switch} {
  --height: 24PX;
  --width: 42PX;
  --border-width: 2PX;

  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  align-self: center;
  cursor: pointer;

  input {
    display: none;
  }

  &-checkbox {
    min-width: var(--width);
    height: var(--height);
    box-sizing: border-box;
    border-radius: 31PX;
    background: $trionesBorderColor;
    z-index: 0;
    overflow: hidden;
    line-height: var(--height);

    &:before {
      content: ' ';
      position: absolute;
      left: var(--border-width);
      top: var(--border-width);
      width: calc(100% - 2 * var(--border-width));
      height: calc(var(--height) - 2 * var(--border-width));
      border-radius: calc(var(--height) - 2 * var(--border-width));
      box-sizing: border-box;
      background: var(--triones-antm-color-background);
      z-index: 1;
      transition: all 200ms;
      transform: scale(1);
    }
  }

  &-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--height) - 2 * var(--border-width));
    height: calc(var(--height) - 2 * var(--border-width));
    border-radius: calc(var(--height) - 2 * var(--border-width));
    background: $trionesColorTextLightSolid;
    position: absolute;
    z-index: 2;
    top: var(--border-width);
    left: var(--border-width);
    transition: all 200ms;
    box-shadow: 0 0 2PX 0 rgba(0, 0, 0, 0.2),
    0 2PX 11.5PX 0 rgba(0, 0, 0, 0.08),
    -1PX 2PX 2PX 0 rgba(0, 0, 0, 0.1);

    &-loading {
      color: var(--color,$trionesColorPrimary);
      display: inline-block;
      height: 100%;
      width: 100%;
      background: currentColor;
      mask-image: var(--maskImage);
      -webkit-mask-image: var(--maskImage);
      animation: adm-spin-loading-rotate 2s infinite linear;
    }
  }

  &-inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8PX 0 calc(var(--height) - var(--border-width) + 5PX);
    height: 100%;
    color: var(--triones-antm-color-weak);
    transition: margin 200ms;
    font-size: var(--triones-antm-font-size-7);
  }

  /* 选中状态 */
  &.#{$class-prefix-switch}-checked {
    .#{$class-prefix-switch}-checkbox {
      background: var(--checked-color, $trionesColorPrimary);

      &:before {
        transform: scale(0);
      }
    }

    .#{$class-prefix-switch}-handle {
      left: calc(100% - (var(--height) - var(--border-width)));
    }

    .#{$class-prefix-switch}-inner {
      margin: 0 calc(var(--height) - var(--border-width) + 5PX) 0 8PX;
      color: $trionesColorTextLightSolid;
    }
  }

  /* 禁用状态 */
  &.#{$class-prefix-switch}-disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  /* loading图标 */
  &-spin-icon {
    width: 14PX;
    height: 14PX;
    animation: loading-rotate 1s linear infinite;
  }
}
