$maskCls:'triones-antm-mask2';

.#{$maskCls}{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, .15);
  z-index: 1000;
  &-open{
    display: block;
  }
  &-inner{
    height: 100%;
    width: 100%;
    position: relative;
  }
}
