$popupCls: 'triones-antm-popup';

.#{$popupCls} {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &-mask {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .55);
  }

  &-content {
    padding: 12px;
    position: fixed;
  }

  &-top{
    top: 0;
    left: 0;
    right: 0;
  }
}
