@import "@trionesdev/antd-mobile-base-react/dist/style/variable";

$calendarDatetimePickerCls: 'triones-antm-calendar-datetime-picker';

.#{$calendarDatetimePickerCls} {
  border-top-left-radius: $trionesBorderRadius;
  border-top-right-radius: $trionesBorderRadius;

  &-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1Px solid $trionesBorderColor;


    &-display {
      display: flex;
      padding-left: 8Px;

      &-date {
        padding-inline: 8Px;
        cursor: default;
        display: flex;
        align-items: center;
      }

      &-time {
        padding-inline: 12Px;
        display: flex;
        align-items: center;
        cursor: default;
      }

      &-active {
        color: $trionesColorText;
        font-weight: bold;
        background-color: $trionesColorBgTextActive;
      }
    }

    &-button {
      padding: 12Px 16Px;

      &-cancel {
      }

      &-ok {
        color: $trionesColorPrimary;
      }
    }
  }
  &-body {

  }
}
