@use "../style/variable" as variable;
$tagCls: 'triones-antm-tag';

.#{$tagCls} {
  display: inline-block;
  align-items: center;
  padding: 2Px 8Px;
  font-size: 11Px;
  line-height: 1.2;
  border-radius: variable.$trionesBorderRadius;
  box-sizing: border-box;
  white-space: nowrap;

  &-square {
    border-radius: 0;
  }

  &-round {
    border-radius: 12px;
  }

  // Default variant styles
  &-default {
    &.#{$tagCls}-solid {
      background: #666;
      color: #fff;
    }
    &.#{$tagCls}-outline {
      color: #666;
      border: 1px solid #666;
      background: transparent;
    }
  }

  // Primary variant styles
  &-primary {
    &.#{$tagCls}-solid {
      background: variable.$trionesColorPrimary;
      color: #fff;
    }
    &.#{$tagCls}-outline {
      color: variable.$trionesColorPrimary;
      border: 1px solid variable.$trionesColorPrimary;
      background: transparent;
    }
  }

  // Success variant styles
  &-success {
    &.#{$tagCls}-solid {
      background: variable.$trionesColorSuccess;
      color: #fff;
    }
    &.#{$tagCls}-outline {
      color: variable.$trionesColorSuccess;
      border: 1px solid variable.$trionesColorSuccess;
      background: transparent;
    }
  }

  // Warning variant styles
  &-warning {
    &.#{$tagCls}-solid {
      background: variable.$trionesColorWarning;
      color: #fff;
    }
    &.#{$tagCls}-outline {
      color: variable.$trionesColorWarning;
      border: 1px solid variable.$trionesColorWarning;
      background: transparent;
    }
  }

  // Danger variant styles
  &-danger {
    &.#{$tagCls}-solid {
      background: variable.$trionesColorError;
      color: #fff;
    }
    &.#{$tagCls}-outline {
      color: variable.$trionesColorError;
      border: 1px solid variable.$trionesColorError;
      background: transparent;
    }
  }
}
