@import "../style/variable";
$swiperCls: 'triones-antm-swiper';

.#{$swiperCls} {
  max-height: 100%;
}
.#{$swiperCls}-core {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  &-box{
    position: relative;
    width: 100%;
    height: 100%;
  }
  &-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: transform;
    justify-content: center;
    align-items: center;
    &-horizontal{
      flex-direction: row;
      touch-action: pan-x;
    }
    &-vertical{
      flex-direction: column;
      touch-action: pan-y;
    }
  }
  &-item {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
