@use "../style/variable" as variable;
$avatarCls: 'triones-antm-avatar';

.#{$avatarCls} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &-circle {
    border-radius: 50%;
  }

  &-square {
    border-radius: variable.$trionesBorderRadius;
  }
}
