$progressCls: 'triones-antm-progress-bar';

.#{$progressCls} {
  --fill-color: #1677ff;
  --track-width: 8px;
  --text-width: 40px;
  --track-color: #e9ecef;

  overflow: hidden;
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  align-items: center;
  &-track {
    height: var(--track-width);
    border-radius: 4px;
    background: var(--track-color);
    flex: 1;
  }

  &-fill {
    height: 100%;
    transition: width 0.6s ease;
    background: var(--fill-color);
    border-radius: 4px;
  }

  &-text {
    width: calc(var(--text-width) + 8px);
    padding-left: 8px;
    text-align: center;
    color: #999999;
  }
}
