/* prettier-ignore */
.triones-antm-page-indicator {
  display: flex;
  width: auto;

  --dot-color: #ccc;
  --active-dot-color: #1677ff;
  --dot-size: 3PX;
  --active-dot-size: 13PX;
  --dot-border-radius: 1PX;
  --active-dot-border-radius: var(--dot-border-radius);
  --dot-spacing: 3PX;

  &-dot {
    display: block;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: var(--dot-border-radius);
    background: var(--dot-color);

    &:last-child {
      margin-right: 0;
    }

    &-active {
      border-radius: var(--active-dot-border-radius);
      background: var(--active-dot-color);
    }
  }

  &-color-white {
    --dot-color: rgba(255, 255, 255, 50%);
    --active-dot-color: #fff;
  }

  &-horizontal {
    flex-direction: row;

    .triones-antm-page-indicator-dot {
      margin-right: var(--dot-spacing);

      &-active {
        width: var(--active-dot-size);
      }
    }
  }

  &-vertical {
    flex-direction: column;

    .triones-antm-page-indicator-dot {
      margin-bottom: var(--dot-spacing);

      &-active {
        height: var(--active-dot-size);
      }
    }
  }
}
