@import "../style/variable";

$calendarPickerCls: 'triones-antm-calendar-picker';

.#{$calendarPickerCls} {
  border-top-left-radius: $trionesBorderRadius;
  border-top-right-radius: $trionesBorderRadius;
  &-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1Px solid $trionesBorderColor;
    &-button {
      color: $trionesColorPrimary;
      padding: 8Px 12Px;
    }
  }
  &-body {
    pointer-events: unset;
  }
}
