@use "../style/variable" as variable;

$calendarPickerCls: 'triones-antm-calendar-picker';

.#{$calendarPickerCls} {
  border-top-left-radius: variable.$trionesBorderRadius;
  border-top-right-radius: variable.$trionesBorderRadius;

  &-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1Px solid variable.$trionesBorderColor;
    padding: 4Px;
    &-button {
      padding: 8Px 12Px;

      &-cancel {
      }

      &-ok {
        color: variable.$trionesColorPrimary;
      }
    }


  }

  &-body {
    pointer-events: unset;
  }
}
