@font-face {
  font-family: antdmini-icon;
  src: url('https://gw.alipayobjects.com/os/bmw-prod/578c472b-19a7-44ab-a92d-adc367ee2fe2.ttf?v=20210115')
  format('truetype');
}

.triones-antdm-icon{
  display: inline-flex;
  &::before{
    font-family: antdmini-icon !important;
    font-style: normal;
    line-height: 1;
    font-size: 40px;
  }
}


.triones-antdm-icon-minus-outline:before{
  content: "\e66f";
}