@use "../style/variable" as variable;
$class-prefix-card: 'triones-antm-card';

.#{$class-prefix-card} {
  background: variable.$trionesColorBgBase;
  border-radius: variable.$trionesBorderRadius;
  //padding: variable.$trionesPadding variable.$trionesPadding;
  &-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8Px;
    box-sizing: border-box;
    padding: variable.$trionesPaddingXs variable.$trionesPaddingXs;
    &:not(:last-child) {
      border-bottom: solid 0.5Px variable.$trionesBorderColor;
    }
    &-title {
      font-size: variable.$trionesFontSize;
      line-height: 1.4;
      font-weight: 500;
    }
  }
  &-body {
    padding: variable.$trionesPaddingXs variable.$trionesPaddingXs;
  }
  &-footer {
    padding: variable.$trionesPaddingXs variable.$trionesPaddingXs;
  }
  &-footer {
    border-top: solid 0.5Px variable.$trionesBorderColor;
    padding: variable.$trionesPaddingXs variable.$trionesPaddingXs;
  }
}
