@use "../style/variable" as *;

$trionesButtonPendingInlineSm: 7Px;
$trionesButtonHeightSm: 24Px;

$trionesButtonPendingInline: 15Px;
$trionesButtonHeight: 32Px;

$trionesButtonContentFontSizeLg: $trionesFontSizeLg;
$trionesButtonPendingInlineLg: 15Px;
$trionesButtonHeightLg: 40Px;

// 定义常用颜色变量以提高可维护性
$buttonBackgroundColor: #ffffff;
$buttonDarkTextColor: rgba(0, 0, 0, 0.75);
$buttonLightTextColor: rgba(0, 0, 0, 0.06);

button::after {
  content: none;
  width: 100%;
}

$buttonCls: 'triones-antm-button';
.#{$buttonCls} {
  width: auto;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  height: auto;
  line-height: normal;
  border-radius: 4Px;
  border: 1Px none;
  box-sizing: border-box;
  font-size: 14Px;
  z-index: 2;
  margin-top: 0;

  &:active {
    filter: brightness(92%);
  }
  &::after{
    content: none;
  }

  &[disabled] {
    opacity: 0.4;

    &:active {
      filter: none;
    }
  }

  &-color {
    &-default {
      background-color: $buttonBackgroundColor;

      &.#{$buttonCls} {
        &-variant {
          &-solid {
            color: $buttonBackgroundColor;
            background-color: $buttonDarkTextColor;
            box-shadow: inset 0 0 0 1px $buttonDarkTextColor;
          }

          &-outlined {
            color: $buttonDarkTextColor;
            border: 1px solid $buttonDarkTextColor;
            background-color: $buttonBackgroundColor;
          }

          &-dashed {
            color: $buttonDarkTextColor;
            border: 1px dashed $buttonDarkTextColor;
            background-color: $buttonBackgroundColor;
          }

          &-filled {
            color: $buttonDarkTextColor;
            background-color: $buttonLightTextColor;
          }

          &-text {
            color: $buttonDarkTextColor;
            background-color: $buttonBackgroundColor;
          }

          &-link {
            color: $buttonDarkTextColor;
            background-color: $buttonBackgroundColor;

            &:active {
              filter: none;
            }
          }
        }
      }
    }

    &-primary {
      &.#{$buttonCls} {
        &-variant {
          &-solid {
            color: $buttonBackgroundColor;
            background-color: $trionesColorPrimaryText;
            box-shadow: inset 0 0 0 1px $trionesColorPrimaryText;
          }

          &-outlined {
            color: #1677ff;
            background-color: $buttonBackgroundColor;
            border: 1px solid $trionesColorPrimaryText;
          }

          &-dashed {
            color: $trionesColorPrimaryText;
            border: 1px dashed $trionesColorPrimaryText;
            background-color: $buttonBackgroundColor;
          }

          &-filled {
            color: $trionesColorPrimaryText;
            background-color: $trionesColorPrimaryBg;
          }

          &-text {
            color: $trionesColorPrimaryText;
            background-color: $buttonBackgroundColor;
          }

          &-link {
            color: $trionesColorPrimaryText;
            background-color: $buttonBackgroundColor;

            &:active {
              filter: none;
            }
          }
        }
      }
    }

    &-danger {
      &.#{$buttonCls} {
        &-variant {
          &-solid {
            color: $buttonBackgroundColor;
            background-color: $trionesColorErrorText;
            box-shadow: inset 0 0 0 1px $trionesColorErrorText;
          }

          &-outlined {
            color: $trionesColorErrorText;
            background-color: $buttonBackgroundColor;
            border: 1px solid $trionesColorErrorText;
          }

          &-dashed {
            color: $trionesColorErrorText;
            border: 1px dashed $trionesColorErrorText;
            background-color: $buttonBackgroundColor;
          }

          &-filled {
            color: $trionesColorErrorText;
            background-color: #ffdfdc;
          }

          &-text {
            color: $trionesColorErrorText;
            background-color: $buttonBackgroundColor;
          }

          &-link {
            color: $trionesColorErrorText;
            background-color: $buttonBackgroundColor;

            &:active {
              filter: none;
            }
          }
        }
      }
    }
  }

  &-variant {
    &-outlined {
      background-color: $buttonBackgroundColor;
    }

    &-dashed {
      border: 1px dashed #d9d9d9;
      background-color: $buttonBackgroundColor;
    }

    &-text {
      background-color: $buttonBackgroundColor;
    }

    &-link {
      background-color: $buttonBackgroundColor;
    }
  }

  &-block {
    display: flex;
    width: 100%;
  }

  &-small {
    font-size: $trionesFontSizeSm;
    padding-inline: $trionesButtonPendingInlineSm;
    height: $trionesButtonHeightSm;
    border-radius: $trionesBorderRadiusSm;
  }

  &-middle {
    padding-inline: $trionesButtonPendingInline;
    height: $trionesButtonHeight;
    border-radius: $trionesBorderRadius;
  }

  &-large {
    font-size: $trionesButtonContentFontSizeLg;
    padding-inline: $trionesButtonPendingInlineLg;
    height: $trionesButtonHeightLg;
    border-radius: $trionesBorderRadiusLg;
  }
}