@import "../style/variable";

$descriptionsCls: 'triones-antm-descriptions';
.#{$descriptionsCls}{
  &-header{}
  &-view{
    .#{$descriptionsCls}{
      &-table{
        display: table;
      }
      &-row{
        display: flex;
      }
      &-item{
        display: flex;
        flex: 1 auto;
        &-label{

        }
        &-content{
          flex: 1 auto;
        }
      }
    }
  }
}
