@use "../style/variable" as variable;

$cls-prefix-form: 'triones-antm-form';
$cls-prefix-form-item: 'triones-antm-form-item';

.#{$cls-prefix-form} {
}

.#{$cls-prefix-form-item} {
  &.h5 {
    @include variable.h5-line-height;
  }

  &.wx {
    @include variable.wx-input-size;
  }
  &-label {
    font-size: variable.$trionesFontSize;
    color: #6F6F6F;


    &-wrapper {
      //display: flex;
      //align-items: center;
      height: 100%;
    }

    &-required-mark {
      display: inline-block;
      color: variable.$trionesColorError;
      width: 8Px;
      margin-left: -8Px;
    }

  }

  &-content {

    &-right {
      text-align: end;
    }

    .#{$cls-prefix-form-item} {
      &-error {
        font-size: variable.$trionesFontSizeSm;
        color: variable.$trionesColorError;
      }
    }
  }

  &-horizontal {
    display: flex;

    .#{$cls-prefix-form-item} {
      &-label {
        padding-block: 12Px;
        flex-shrink: 1;
        min-width: 0;
      }

      &-content {
        padding-block: 12Px;
        flex: 1;
        flex-shrink: 1;
        min-width: 0;
      }
    }

    &.#{$cls-prefix-form-item} {
      &-start {
        align-items: flex-start;
      }

      &-center {
        //align-items: center;
      }
    }
  }

  &-vertical {
    .#{$cls-prefix-form-item} {
      &-label {
        margin-bottom: 4Px;
      }
      &-content {
        padding-block-end: 8Px;
      }
    }

  }

  &-hidden {
    display: none;
  }
}
