@use "../style/variable" as variable;

$cls-prefix-form: 'triones-antm-form';
$cls-prefix-form-item: 'triones-antm-form-item';

.#{$cls-prefix-form} {
}

.#{$cls-prefix-form-item} {

  &-label {
    font-size: variable.$trionesFontSize;
    color: #6F6F6F;


    &-wrapper {
      display: flex;
      align-items: center;

      &.h5 {
        @include variable.h5-input-size;
      }

      &.wx {
        @include variable.h5-input-size;
      }
    }

    &-required-mark {
      display: inline-block;
      color: red;
      width: 8Px;
      margin-left: -8Px;
    }

  }

  &-input {

    &-right {
      text-align: end;
    }

    .#{$cls-prefix-form-item} {
      &-error {
        font-size: variable.$trionesFontSizeSm;
        color: red;
      }
    }
  }

  &-horizontal {
    display: flex;

    .#{$cls-prefix-form-item} {
      &-label {
        padding-block: 8Px;
        flex-shrink: 1;
        min-width: 0;
      }

      &-input {
        padding-block: 8Px;
        flex: 1;
        flex-shrink: 1;
        min-width: 0;
      }
    }

    &.#{$cls-prefix-form-item} {
      &-start {
        align-items: flex-start;
      }

      &-center {
        align-items: center;
      }
    }
  }

  &-vertical {
    .#{$cls-prefix-form-item} {
      &-label {
        margin-bottom: 4Px;
      }
      &-input {
        padding-block-end: 8Px;
      }
    }

  }

  &-hidden {
    display: none;
  }
}
