.image-viewer-demo-footer {
  padding: 16px;
  text-align: center;
}

.image-viewer-demo-footerButton {
  font-size: var(--triones-antm-font-size-4);
  color: #ffffff;
  line-height: 1;
  padding: 10px 16px;
  background-color: rgba(153, 153, 153, 0.4);
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
}
