@use "../style/variable" as variable;

$trionesSideBarCls: 'triones-antm-sidebar';

.#{$trionesSideBarCls} {
  display: flex;
  height: 100%;


  &-tabs {
    min-width: 0;
    background-color: variable.$trionesColorFill;
    overflow: auto;
    scrollbar-width: thin;
    flex-shrink: 0;
  }

  &-tab {
    cursor: pointer;
    padding: variable.$trionesPadding variable.$trionesPadding;
    color: variable.$trionesColorTextSecondary;

    &-active {
      color: variable.$trionesColorPrimaryText;
      background-color: variable.$trionesColorBgBase;
    }

  }

  &-content {
    flex: 1 auto;
    min-width: 0;
    overflow: hidden;
    //overflow-y: auto;
    //scrollbar-width: none;
    position: relative;
    user-select: none;
    touch-action: none;


    &-wheel {
      width: 100%;
      cursor: grab;
      position: absolute;
    }

    &-item {

      &-active {
        display: block;
      }
    }
  }

  &-switch-mode {
    .#{$trionesSideBarCls} {
      &-content {

        &-item {
          height: 100%;
          display: none;
          &-active {
            display: block;
          }
        }
      }
    }
  }

  &-scroll-mode {
    .#{$trionesSideBarCls} {
      &-content {

        &-item {


          &-active {
            display: block;
          }
        }
      }
    }
  }

}
