@use "../style/variable" as variable;


$trionesScaffoldCls: 'triones-antm-scaffold';

.#{$trionesScaffoldCls} {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &-body {
    flex: 1 auto;
    overflow: hidden;
  }
}
