@use "../style/variable" as variable;

$trionesOverlayCls: 'triones-antm-overlay';

.#{$trionesOverlayCls} { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .55);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; // 初始状态不可点击
  
  &-active {
    opacity: 1;
    pointer-events: auto;
  }
}
