@import "../style/variable";

button::after {
  content: none;
  width: 100%;
}

$buttonCls: 'triones-antm-button';
.#{$buttonCls} {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  height: auto;
  line-height: normal;
  padding: 7Px 12Px;
  border-radius: 4Px;
  border: 1Px none;
  box-sizing: border-box;
  font-size: 14Px;
  z-index: 2;

  &:active {
    filter: brightness(92%);
  }

  &[disabled] {
    opacity: 0.4;

    &:active {
      filter: none;
    }
  }

  &-color {
    &-default {
      background-color: #ffffff;

      &.#{$buttonCls} {
        &-variant {
          &-solid {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.75);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75);
          }

          &-outlined {
            color: rgba(0, 0, 0, 0.75);
            border: 1px solid rgba(0, 0, 0, 0.75);
            background-color: white;
          }

          &-dashed {
            color: rgba(0, 0, 0, 0.75);
            border: 1px dashed rgba(0, 0, 0, 0.75);
            background-color: #ffffff;
          }

          &-filled {
            color: rgba(0, 0, 0, 0.75);
            background-color: rgba(0, 0, 0, 0.06);
          }

          &-text {
            color: rgba(0, 0, 0, 0.75);
            background-color: #ffffff;
          }

          &-link {
            color: rgba(0, 0, 0, 0.75);
            background-color: #ffffff;

            &:active {
              filter: none;
            }
          }
        }
      }
    }

    &-primary {
      &.#{$buttonCls} {
        &-variant {
          &-solid {
            color: #ffffff;
            background-color: $trionesColorPrimaryText;
            box-shadow: inset 0 0 0 1px $trionesColorPrimaryText;
          }

          &-outlined {
            color: #1677ff;
            background-color: white;
            border: 1px solid $trionesColorPrimaryText;
          }

          &-dashed {
            color: $trionesColorPrimaryText;
            border: 1px dashed $trionesColorPrimaryText;
            background-color: #ffffff;
          }

          &-filled {
            color: $trionesColorPrimaryText;
            background-color: $trionesColorPrimaryBg;
          }

          &-text {
            color: $trionesColorPrimaryText;
            background-color: #ffffff;
          }

          &-link {
            color: $trionesColorPrimaryText;
            background-color: #ffffff;

            &:active {
              filter: none;
            }
          }
        }
      }
    }

    &-danger {
      &.#{$buttonCls} {
        &-variant {
          &-solid {
            color: #ffffff;
            background-color: $trionesColorErrorText;
            box-shadow: inset 0 0 0 1px $trionesColorErrorText;
          }

          &-outlined {
            color: $trionesColorErrorText;
            background-color: #ffffff;
            border: 1px solid $trionesColorErrorText;
          }

          &-dashed {
            color: $trionesColorErrorText;
            border: 1px dashed $trionesColorErrorText;
            background-color: #ffffff;
          }

          &-filled {
            color: $trionesColorErrorText;
            background-color: #ffdfdc;
          }

          &-text {
            color: $trionesColorErrorText;
            background-color: #ffffff;
          }

          &-link {
            color: $trionesColorErrorText;
            background-color: #ffffff;

            &:active {
              filter: none;
            }
          }
        }
      }
    }
  }

  &-variant {
    &-solid {
    }

    &-outlined {
      background-color: #ffffff;
    }

    &-dashed {
      border: 1px dashed #d9d9d9;
      background-color: #ffffff;
    }

    &-text {
      background-color: #ffffff;
    }

    &-link {
      background-color: #ffffff;
    }
  }

  &-block {
    display: flex;
    width: 100%;
  }
}
