@use "../style/variable" as variable;

$trionesButtonPendingInlineSm: 7Px;
$trionesButtonHeightSm: 24Px;

$trionesButtonPendingInline: 15Px;
$trionesButtonHeight: 32Px;

$trionesButtonContentFontSizeLg: variable.$trionesFontSizeLg;
$trionesButtonPendingInlineLg: 15Px;
$trionesButtonHeightLg: 40Px;

$colorPrimary: variable.$trionesColorPrimaryText;
$colorError: variable.$trionesColorErrorText;
$colorWhite: variable.$trionesColorBgBase;

button::after {
  content: none;
  width: 100%;
}

$buttonCls: 'triones-antm-button';
.#{$buttonCls} {
  width: auto;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  height: auto;
  line-height: normal;
  border-radius: 4Px;
  border: 1Px none;
  box-sizing: border-box;
  font-size: 14Px;
  z-index: 2;
  margin-top: 0;

  &:active {
    filter: brightness(92%);
  }
  &::after{
    content: none;
  }

  &[disabled] {
    opacity: 0.4;

    &:active {
      filter: none;
    }
  }
  &:not([disabled]):active{}

  &-color {
    &-default {
      background-color: $colorWhite;

      &.#{$buttonCls} {
        &-variant {
          &-solid {
            color: $colorWhite;
            background-color: rgba(0, 0, 0, 0.75);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75);
          }

          &-outlined {
            color: rgba(0, 0, 0, 0.75);
            border: 1px solid rgba(0, 0, 0, 0.75);
            background-color: $colorWhite;
          }

          &-dashed {
            color: rgba(0, 0, 0, 0.75);
            border: 1px dashed rgba(0, 0, 0, 0.75);
            background-color: $colorWhite;
          }

          &-filled {
            color: rgba(0, 0, 0, 0.75);
            background-color: rgba(0, 0, 0, 0.06);
          }

          &-text {
            color: rgba(0, 0, 0, 0.75);
            background-color: $colorWhite;
          }

          &-link {
            color: rgba(0, 0, 0, 0.75);
            background-color: $colorWhite;

            &:active {
              filter: none;
            }
          }
        }
      }
    }

    &-primary {
      &.#{$buttonCls} {
        &-variant {
          &-solid {
            color: $colorWhite;
            background-color: $colorPrimary;
            box-shadow: inset 0 0 0 1px $colorPrimary;
          }

          &-outlined {
            color: $colorPrimary;
            background-color: white;
            border: 1px solid $colorPrimary;
          }

          &-dashed {
            color: $colorPrimary;
            border: 1px dashed $colorPrimary;
            background-color: $colorWhite;
          }

          &-filled {
            color: $colorPrimary;
            background-color: variable.$trionesColorPrimaryBg;
          }

          &-text {
            color: $colorPrimary;
            background-color: $colorWhite;
          }

          &-link {
            color: $colorPrimary;
            background-color: $colorWhite;

            &:active {
              filter: none;
            }
          }
        }
      }
    }

    &-danger {
      &.#{$buttonCls} {
        &-variant {
          &-solid {
            color: $colorWhite;
            background-color:$colorError;
            box-shadow: inset 0 0 0 1px $colorError;
          }

          &-outlined {
            color: $colorError;
            background-color: $colorWhite;
            border: 1px solid $colorError;
          }

          &-dashed {
            color: $colorError;
            border: 1px dashed $colorError;
            background-color: $colorWhite;
          }

          &-filled {
            color: $colorError;
            background-color: #ffdfdc;
          }

          &-text {
            color: $colorError;
            background-color: $colorWhite;
          }

          &-link {
            color: $colorError;
            background-color: $colorWhite;

            &:active {
              filter: none;
            }
          }
        }
      }
    }
  }

  &-variant {
    &-solid {
    }

    &-outlined {
      background-color: $colorWhite;
    }

    &-dashed {
      border: 1px dashed #d9d9d9;
      background-color: $colorWhite;
    }

    &-text {
      background-color: $colorWhite;
    }

    &-link {
      background-color: $colorWhite;
    }
  }

  &-block {
    display: flex;
    width: 100%;
  }

  &-small {
    font-size: $trionesFontSizeSm;
    padding-inline: $trionesButtonPendingInlineSm;
    height: $trionesButtonHeightSm;
    border-radius: $trionesBorderRadiusSm;
  }

  &-middle {
    padding-inline: $trionesButtonPendingInline;
    height: $trionesButtonHeight;
    border-radius: $trionesBorderRadius;
  }

  &-large {
    font-size: $trionesButtonContentFontSizeLg;
    padding-inline: $trionesButtonPendingInlineLg;
    height: $trionesButtonHeightLg;
    border-radius: $trionesBorderRadiusLg;
  }
}
