@import "../style/variable";

$class-prefix-radio: 'triones-antm-radio';

.#{$class-prefix-radio} {
  cursor: pointer;
  display: inline-flex;

  &-round {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8Px;

    &-wrap {

    }

    &-icon {
      display: inline-flex;

      &-default {
        display: inline-flex;
        width: 22Px;
        height: 22Px;
        justify-content: center;
        align-items: center;

        .#{$class-prefix-radio} {
          &-round-icon {
            &-checked {
              height: 100%;
              width: 100%;
              background-color: $trionesColorPrimary;
              color: white;
              border-radius: 50vh;
              justify-content: center;
              align-items: center;
              display: inline-flex;
            }

            &-unchecked {
              height: 100%;
              width: 100%;
              border: 1px solid #cccccc;
              border-radius: 50vh;
              box-sizing: border-box;

              i {
                &::before {
                  content: ' ';
                }
              }
            }
          }
        }
      }
    }

    &-content {
    }
  }
}

.#{$class-prefix-radio}-group {
}

.#{$class-prefix-radio}-button-group {
  display: flex;
}

.#{$class-prefix-radio}-button-wrapper {
  display: inline-flex;
  position: relative;
  border-top: 1PX solid $trionesBorderColor;
  border-bottom: 1PX solid $trionesBorderColor;
  border-right: 1PX solid $trionesBorderColor;

  &:first-child {
    border-left: 1PX solid $trionesBorderColor;
    border-top-left-radius: $trionesBorderRadius;
    border-bottom-left-radius: $trionesBorderRadius;
  }

  &:last-child {
    border-right: 1PX solid $trionesBorderColor;
    border-top-right-radius: $trionesBorderRadius;
    border-bottom-right-radius: $trionesBorderRadius;
  }

  &-checked {
    border-top: 1PX solid $trionesColorPrimary;
    border-bottom: 1PX solid $trionesColorPrimary;
    color: $trionesColorPrimary;

    &:first-child {
      border: 1PX solid $trionesColorPrimary;
    }

    &:not(:first-child) {
      &::before {
        content: " ";
        width: 1PX;
        background-color: $trionesColorPrimary;
        position: absolute;
        inset-block-start: -1Px;
        inset-inline-start: -1Px;
        height: 100%;
        padding-block: 1Px;
      }

      border-right: 1PX solid $trionesColorPrimary;
    }
  }

  .#{$class-prefix-radio}-button {
    cursor: pointer;
    display: inline-flex;
    padding: 8Px 12Px;

  }
}
