@font-face {
  font-family: "triones-ant-mini-icon"; /* Project id 4727221 */
  src: url("./iconfont.ttf") format('truetype');
}

.triones-antm-icon {
  font-family: "triones-ant-mini-icon" !important;
  font-style: normal;
}

.triones-antm-icon-FingerdownOutline-copy:before {
  content: "\e758";
}

.triones-antm-icon-AudioFill:before {
  content: "\e74e";
}

.triones-antm-icon-FingerdownOutline:before {
  content: "\e74f";
}

.triones-antm-icon-ShopbagOutline:before {
  content: "\e750";
}

.triones-antm-icon-ExclamationShieldFill:before {
  content: "\e751";
}

.triones-antm-icon-StopOutline:before {
  content: "\e752";
}

.triones-antm-icon-CheckShieldOutline:before {
  content: "\e753";
}

.triones-antm-icon-CloseShieldOutline:before {
  content: "\e754";
}

.triones-antm-icon-FilterOutline:before {
  content: "\e755";
}

.triones-antm-icon-TextDeletionOutline:before {
  content: "\e756";
}

.triones-antm-icon-EditSFill:before {
  content: "\e757";
}

.triones-antm-icon-ContentOutline:before {
  content: "\e6c1";
}

.triones-antm-icon-AddSquareOutline:before {
  content: "\e744";
}

.triones-antm-icon-MessageOutline:before {
  content: "\e745";
}

.triones-antm-icon-LocationOutline:before {
  content: "\e746";
}

.triones-antm-icon-ExclamationShieldOutline:before {
  content: "\e747";
}

.triones-antm-icon-CheckShieldFill:before {
  content: "\e748";
}

.triones-antm-icon-MessageFill:before {
  content: "\e749";
}

.triones-antm-icon-LockFill:before {
  content: "\e74a";
}

.triones-antm-icon-LikeOutline:before {
  content: "\e74b";
}

.triones-antm-icon-ReceivePaymentOutline:before {
  content: "\e74c";
}

.triones-antm-icon-TeamFill:before {
  content: "\e74d";
}

.triones-antm-icon-EditFill:before {
  content: "\e742";
}

.triones-antm-icon-AlipaySquareFill:before {
  content: "\e743";
}

.triones-antm-icon-a-DownlandOutline-copy:before {
  content: "\e75a";
}

.triones-antm-icon-TeamOutline:before {
  content: "\e733";
}

.triones-antm-icon-CalendarOutline:before {
  content: "\e734";
}

.triones-antm-icon-EditSOutline:before {
  content: "\e735";
}

.triones-antm-icon-TruckOutline:before {
  content: "\e736";
}

.triones-antm-icon-TravelOutline:before {
  content: "\e737";
}

.triones-antm-icon-UserContactOutline:before {
  content: "\e738";
}

.triones-antm-icon-LocationFill:before {
  content: "\e739";
}

.triones-antm-icon-MailFill:before {
  content: "\e73a";
}

.triones-antm-icon-DownlandOutline:before {
  content: "\e73b";
}

.triones-antm-icon-FillinOutline:before {
  content: "\e73c";
}

.triones-antm-icon-AudioOutline:before {
  content: "\e73d";
}

.triones-antm-icon-UnlockOutline:before {
  content: "\e73e";
}

.triones-antm-icon-AudioMutedOutline:before {
  content: "\e73f";
}

.triones-antm-icon-FileOutline:before {
  content: "\e740";
}

.triones-antm-icon-FlagOutline:before {
  content: "\e741";
}

.triones-antm-icon-EnvironmentOutline:before {
  content: "\e726";
}

.triones-antm-icon-AddressBookFill:before {
  content: "\e727";
}

.triones-antm-icon-PieOutline:before {
  content: "\e728";
}

.triones-antm-icon-TransportQRcodeOutline:before {
  content: "\e729";
}

.triones-antm-icon-PhonebookFill:before {
  content: "\e72a";
}

.triones-antm-icon-FolderOutline:before {
  content: "\e72b";
}

.triones-antm-icon-UserOutline:before {
  content: "\e6c3";
}

.triones-antm-icon-ChatAddOutline:before {
  content: "\e72c";
}

.triones-antm-icon-ChatCheckOutline:before {
  content: "\e72d";
}

.triones-antm-icon-UserSetOutline:before {
  content: "\e72e";
}

.triones-antm-icon-MailOpenOutline:before {
  content: "\e72f";
}

.triones-antm-icon-ChatWrongOutline:before {
  content: "\e730";
}

.triones-antm-icon-MailOutline:before {
  content: "\e731";
}

.triones-antm-icon-SystemQRcodeOutline:before {
  content: "\e6c2";
}

.triones-antm-icon-SendOutline:before {
  content: "\e732";
}

.triones-antm-icon-SoundMuteOutline:before {
  content: "\e6c6";
}

.triones-antm-icon-UploadOutline:before {
  content: "\e719";
}

.triones-antm-icon-SoundOutline:before {
  content: "\e71a";
}

.triones-antm-icon-SoundMuteFill:before {
  content: "\e71b";
}

.triones-antm-icon-PhoneFill:before {
  content: "\e71c";
}

.triones-antm-icon-LockOutline:before {
  content: "\e71d";
}

.triones-antm-icon-HistogramOutline:before {
  content: "\e71e";
}

.triones-antm-icon-PhonebookOutline:before {
  content: "\e71f";
}

.triones-antm-icon-SmileOutline:before {
  content: "\e720";
}

.triones-antm-icon-GiftOutline:before {
  content: "\e721";
}

.triones-antm-icon-HandPayCircleOutline:before {
  content: "\e722";
}

.triones-antm-icon-AppOutline:before {
  content: "\e723";
}

.triones-antm-icon-UserAddOutline:before {
  content: "\e724";
}

.triones-antm-icon-CameraOutline:before {
  content: "\e725";
}

.triones-antm-icon-CalculatorOutline:before {
  content: "\e6c4";
}

.triones-antm-icon-FileWrongOutline:before {
  content: "\e6c5";
}

.triones-antm-icon-AAOutline:before {
  content: "\e709";
}

.triones-antm-icon-UndoOutline:before {
  content: "\e70a";
}

.triones-antm-icon-CollectMoneyOutline:before {
  content: "\e70b";
}

.triones-antm-icon-ArrowDownCircleOutline:before {
  content: "\e70c";
}

.triones-antm-icon-KoubeiFill:before {
  content: "\e70d";
}

.triones-antm-icon-QuestionCircleOutline:before {
  content: "\e70e";
}

.triones-antm-icon-DownCircleOutline:before {
  content: "\e70f";
}

.triones-antm-icon-TagOutline:before {
  content: "\e710";
}

.triones-antm-icon-AddCircleOutline:before {
  content: "\e711";
}

.triones-antm-icon-ForbidFill:before {
  content: "\e712";
}

.triones-antm-icon-UnorderedListOutline:before {
  content: "\e713";
}

.triones-antm-icon-SetOutline:before {
  content: "\e714";
}

.triones-antm-icon-UpCircleOutline:before {
  content: "\e715";
}

.triones-antm-icon-ExclamationCircleOutline:before {
  content: "\e716";
}

.triones-antm-icon-CloseCircleOutline:before {
  content: "\e717";
}

.triones-antm-icon-CheckCircleOutline:before {
  content: "\e718";
}

.triones-antm-icon-CompassOutline:before {
  content: "\e6f8";
}

.triones-antm-icon-EyeOutline:before {
  content: "\e6f9";
}

.triones-antm-icon-BellOutline:before {
  content: "\e6fa";
}

.triones-antm-icon-DownOutline:before {
  content: "\e6fb";
}

.triones-antm-icon-ScanningOutline:before {
  content: "\e6fc";
}

.triones-antm-icon-EyeInvisibleOutline:before {
  content: "\e6fd";
}

.triones-antm-icon-LoopOutline:before {
  content: "\e6fe";
}

.triones-antm-icon-ScanningFaceOutline:before {
  content: "\e6ff";
}

.triones-antm-icon-MinusCircleOutline:before {
  content: "\e700";
}

.triones-antm-icon-TextOutline:before {
  content: "\e701";
}

.triones-antm-icon-LeftOutline:before {
  content: "\e702";
}

.triones-antm-icon-RightOutline:before {
  content: "\e703";
}

.triones-antm-icon-SearchOutline:before {
  content: "\e704";
}

.triones-antm-icon-QuestionCircleFill:before {
  content: "\e705";
}

.triones-antm-icon-KeyOutline:before {
  content: "\e706";
}

.triones-antm-icon-KoubeiOutline:before {
  content: "\e707";
}

.triones-antm-icon-RedoOutline:before {
  content: "\e708";
}

.triones-antm-icon-BellMuteOutline:before {
  content: "\e6ca";
}

.triones-antm-icon-ScanCodeOutline:before {
  content: "\e6c9";
}

.triones-antm-icon-AddOutline:before {
  content: "\e6c7";
}

.triones-antm-icon-AppstoreOutline:before {
  content: "\e6c8";
}

.triones-antm-icon-MovieOutline:before {
  content: "\e6ed";
}

.triones-antm-icon-ExclamationOutline:before {
  content: "\e6ee";
}

.triones-antm-icon-UpOutline:before {
  content: "\e6ef";
}

.triones-antm-icon-ExclamationTriangleOutline:before {
  content: "\e6f0";
}

.triones-antm-icon-PictureWrongOutline:before {
  content: "\e6f1";
}

.triones-antm-icon-PicturesOutline:before {
  content: "\e6f2";
}

.triones-antm-icon-ClockCircleFill:before {
  content: "\e6f3";
}

.triones-antm-icon-FrownOutline:before {
  content: "\e6f4";
}

.triones-antm-icon-ClockCircleOutline:before {
  content: "\e6f5";
}

.triones-antm-icon-CloseOutline:before {
  content: "\e6f6";
}

.triones-antm-icon-PictureOutline:before {
  content: "\e6f7";
}

.triones-antm-icon-FireFill:before {
  content: "\e6e1";
}

.triones-antm-icon-PlayOutline:before {
  content: "\e6e2";
}

.triones-antm-icon-CloseCircleFill:before {
  content: "\e6e3";
}

.triones-antm-icon-StarFill:before {
  content: "\e6e4";
}

.triones-antm-icon-MoreOutline:before {
  content: "\e6e5";
}

.triones-antm-icon-CouponOutline:before {
  content: "\e6e6";
}

.triones-antm-icon-VideoOutline:before {
  content: "\e6e7";
}

.triones-antm-icon-BankcardOutline:before {
  content: "\e6e8";
}

.triones-antm-icon-CheckOutline:before {
  content: "\e6e9";
}

.triones-antm-icon-DeleteOutline:before {
  content: "\e6ea";
}

.triones-antm-icon-HeartOutline:before {
  content: "\e6eb";
}

.triones-antm-icon-ReceiptOutline:before {
  content: "\e6ec";
}

.triones-antm-icon-PayOutline:before {
  content: "\e6de";
}

.triones-antm-icon-AntOutline:before {
  content: "\e6df";
}

.triones-antm-icon-FaceRecognitionOutline:before {
  content: "\e6e0";
}

.triones-antm-icon-a-DownFill-copy:before {
  content: "\e75b";
}

.triones-antm-icon-EyeInvisibleFill:before {
  content: "\e6ce";
}

.triones-antm-icon-AlipayCircleFill:before {
  content: "\e6cf";
}

.triones-antm-icon-BillOutline:before {
  content: "\e6d0";
}

.triones-antm-icon-DownFill:before {
  content: "\e6d1";
}

.triones-antm-icon-InformationCircleFill:before {
  content: "\e6d2";
}

.triones-antm-icon-SmileFill:before {
  content: "\e6d3";
}

.triones-antm-icon-StarOutline:before {
  content: "\e6d4";
}

.triones-antm-icon-ArrowsAltOutline:before {
  content: "\e6d5";
}

.triones-antm-icon-ExclamationCircleFill:before {
  content: "\e6d6";
}

.triones-antm-icon-InformationCircleOutline:before {
  content: "\e6d7";
}

.triones-antm-icon-GlobalOutline:before {
  content: "\e6d8";
}

.triones-antm-icon-HeartFill:before {
  content: "\e6d9";
}

.triones-antm-icon-EyeFill:before {
  content: "\e6da";
}

.triones-antm-icon-ShrinkOutline:before {
  content: "\e6cb";
}

.triones-antm-icon-UserCircleOutline:before {
  content: "\e6db";
}

.triones-antm-icon-CheckCircleFill:before {
  content: "\e6dc";
}

.triones-antm-icon-PayCircleOutline:before {
  content: "\e6dd";
}

.triones-antm-icon-LinkOutline:before {
  content: "\e6cd";
}

.triones-antm-icon-FrownFill:before {
  content: "\e6cc";
}

