$dividerCls: 'triones-antm-divider';
/* prettier-ignore */
.#{$dividerCls} {
  display: flex;
  align-items: center;
  font-size: 14PX;
  color: #999999;
  margin: 16PX 0;
  border: 0 solid #eeeeee;
  width: 100%;

  &::before,
  &::after {
    content: '';
    border-style: inherit;
    border-color: inherit;
    border-width: 2PX 0 0;
    height: 2PX;
    flex: 1;
  }

  &-center,
  &-left,
  &-right {
    &::before {
      margin-right: 8PX;
    }

    &::after {
      margin-left: 8PX;
    }
  }

  &-left {
    &::before {
      max-width: 10%;
    }
  }

  &-right {
    &::after {
      max-width: 10%;
    }
  }

  &-hairline {
    &::before,
    &::after {
      transform: scaleY(0.5);
    }
  }

  &-vertical {
    display: inline-block;
    width: auto;
    height: 12PX;
    border-left: 1PX solid #eeeeee;
    margin: 0 8PX;
    vertical-align: middle;
  }
}
