$trionesBlue:#1677FF !default;
$trionesPurple:#722ED1 !default;

$trionesColorText: rgba(0,0,0,0.88) !default;
$trionesColorTextSecondary: rgba(0,0,0,0.65) !default;
$trionesColorTextTertiary: rgba(0,0,0,0.45) !default;
$trionesColorTextQuaternary: rgba(0,0,0,0.25) !default;
$trionesColorTextPlaceholder: rgba(0,0,0,0.25) !default;
$trionesColorTextDisabled: rgba(0,0,0,0.25) !default;
$trionesColorTextHeading: rgba(0,0,0,0.88) !default;
$trionesColorTextLabel: rgba(0,0,0,0.65) !default;
$trionesColorTextDescription: rgba(0,0,0,0.45) !default;
$trionesColorTextLightSolid: #fff !default;

$trionesColorFill: rgba(0,0,0,0.15) !default;

$trionesColorPrimary:#1777FF !default;
$trionesColorPrimaryBg:#e6f4ff !default;
$trionesColorPrimaryBgHover:#bae0ff !default;
$trionesColorPrimaryBorder:#91caff !default;
$trionesColorPrimaryBorderHover:#69b1ff !default;
$trionesColorPrimaryActive:#0958d9 !default;
$trionesColorPrimaryTextHover:#4096ff !default;
$trionesColorPrimaryText:#1677ff !default;
$trionesColorPrimaryActive:#0958d9 !default;

$trionesColorSuccess:#00b578 !default;
$trionesColorWarning:#ff8f1f !default;
$trionesColorDanger:#ff4d4f !default;
$trionesColorText:#333333 !default;
$trionesColorTextSecondary:#666666 !default;

$trionesBorderRadius:6px !default;
$trionesBorderColor:#d9d9d9 !default;
$trionesBorderColorSecondary:#f0f0f0 !default;
