@use "../style/variable" as variable;
$cascaderPickerCls: 'triones-antm-cascader-picker';

.#{$cascaderPickerCls}{
  min-width: 50Px;
  line-height: 1.4;
  &-placeholder{
    color: variable.$trionesColorTextPlaceholder;
  }
}
