@use "../style/variable" as variable;
$cascaderPickerCls: 'triones-antm-cascader-picker';

.#{$cascaderPickerCls} {
  width: 100%;
  height: 300Px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1Px solid variable.$trionesBorderColor;
    padding: 4Px;

    &-button {

      padding: 8Px;
      font-size: 12Px;
      &-ok{
        color: variable.$trionesColorPrimary;
      }
    }

    &-title {
    }
  }

  &-body {
    flex: 1 1;
    width: 100%;
    pointer-events: unset;
    overflow: hidden;
  }
  &-view{
    --height: 100%;
  }

}
