$class-prefix-notice-bar: 'triones-antm-notice-bar';
/* prettier-ignore */
.#{$class-prefix-notice-bar} {
  --background-color: var(--triones-antm-color-weak);
  --border-color: var(--triones-antm-color-weak);
  --text-color: var(--triones-antm-color-text-light-solid);
  --font-size: var(--triones-antm-font-size-7);
  --icon-font-size: var(--triones-antm-font-size-10);
  --height: 40PX;
  --triones-antm-notice-bar-border-radius: 4PX;
  --triones-antm-notice-bar-border-width: 1PX;

  flex: 1 auto;
  height: var(--height);
  box-sizing: border-box;
  font-size: var(--font-size);
  padding: 0 12PX;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: solid var(--triones-antm-notice-bar-border-width) var(--border-color);
  border-left-width: 0;
  border-right-width: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  & > span[role='img'] {
    color: var(--text-color);
  }

  &.#{$class-prefix-notice-bar}-alert {
    --background-color: #fff9ed;
    --border-color: #fff3e9;
    --text-color: var(--triones-antm-color-orange);
  }
  &.#{$class-prefix-notice-bar}-error {
    --background-color: #d9281e;
    --border-color: #d9281e;
    --text-color: #fff;
  }
  &.#{$class-prefix-notice-bar}-info {
    --background-color: #d0e4ff;
    --border-color: #bcd8ff;
    --text-color: var(--triones-antm-color-primary);
  }
  &.#{$class-prefix-notice-bar}-success {
    --background-color: #d1fff0;
    --border-color: #a8f0d8;
    --text-color: var(--triones-antm-color-success);
  }

  & .#{$class-prefix-notice-bar}-left {
    flex-shrink: 0;
    margin-right: 8PX;
    font-size: var(--icon-font-size);
  }
  & .#{$class-prefix-notice-bar}-content {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    & .#{$class-prefix-notice-bar}-content-inner {
      width: auto;
      transition-timing-function: linear;
      white-space: nowrap;
    }
  }

  & .#{$class-prefix-notice-bar}-right {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 12PX;
  }

  &-close {
    width: 24PX;
    height: 24PX;
    margin-right: -3PX;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--triones-antm-font-size-10);
  }

  &-wrap {
    height: auto;
    align-items: flex-start;
    padding-top: 8PX;
    padding-bottom: 8PX;
    line-height: 22PX;
  }

  &-neutral {
    border-radius: var(--triones-antm-notice-bar-border-radius);
    -webkit-border-radius: var(--triones-antm-notice-bar-border-radius);
    -moz-border-radius: var(--triones-antm-notice-bar-border-radius);
    -ms-border-radius: var(--triones-antm-notice-bar-border-radius);
    -o-border-radius: var(--triones-antm-notice-bar-border-radius);
  }

  &-rounded {
    border-radius: 1000PX;
    -webkit-border-radius: 1000PX;
    -moz-border-radius: 1000PX;
    -ms-border-radius: 1000PX;
    -o-border-radius: 1000PX;
}

  &-bordered {
    border-left-width: var(--triones-antm-notice-bar-border-width);
    border-right-width: var(--triones-antm-notice-bar-border-width);
  }

  &-without-border {
    border-top-width: 0;
    border-bottom-width: 0;
  }
}

.#{$class-prefix-notice-bar}.#{$class-prefix-notice-bar}-wrap {
  .#{$class-prefix-notice-bar}-content {
    .#{$class-prefix-notice-bar}-content-inner {
      white-space: normal;
    }
  }
}
