.triones-antm-empty {
  text-align: center;

  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &-image {
    //margin-bottom: 8Px;
    :global {
      img,
      image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-description {
    color: rgba(0, 0, 0, 45%);
    font-size: 14Px;
    padding: 8Px;
  }
}
