$imagePreviewCls: 'triones-antm-image-preview';

.#{$imagePreviewCls} {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);

  &-head {
    position: fixed;
    top: 50Px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14Px;
    z-index: 1000;
  }

  &-content {
    height: 100%;
    width: 100%;
    :global{
      .triones-antm-image-img{
        height: auto!important;
      }
    }
  }

  &-foot {
  }
}
