@use "../style/variable" as *;

$trionesAlertCls: 'triones-antm-alert';

$trionesAlertDefaultPadding: 8Px 12Px;

.#{$trionesAlertCls} {
  padding: $trionesAlertDefaultPadding;
  border-radius: $trionesBorderRadius;
  display: flex;
  flex: 1 auto;
  border: 1Px solid;
  align-items: center;
  justify-content: center;
  gap: 4Px;

  &-success {
    border-color: $trionesColorSuccessBorder;
    background-color: $trionesColorSuccessBg;

    .#{$trionesAlertCls}-icon {
      color: $trionesColorSuccess;
    }
  }

  &-info {
    border-color: $trionesColorInfoBorder;
    background-color: $trionesColorInfoBg;

    .#{$trionesAlertCls}-icon {
      color: $trionesColorInfo;
    }
  }

  &-warning {
    border-color: $trionesColorWarningBorder;
    background-color: $trionesColorWarningBg;

    .#{$trionesAlertCls}-icon {
      color: $trionesColorWarning;
    }
  }

  &-error {
    border-color: $trionesColorErrorBorder;
    background-color: $trionesColorErrorBg;

    .#{$trionesAlertCls}-icon {
      color: $trionesColorError;
    }
  }

  &-icon {
  }

  &-content {
    flex: 1 auto;
  }

  &-close-icon {
    color: $trionesColorIcon;
    font-size: $trionesFontSizeIcon;
    cursor: pointer;

    .triones-antm-icon {
      font-size: $trionesFontSizeIcon;
    }
  }
}
