@use "../style/variable" as variable;

$trionesAlertCls: 'triones-antm-alert';

$trionesAlertDefaultPadding: 8Px 12Px;

.#{$trionesAlertCls} {
  padding: $trionesAlertDefaultPadding;
  border-radius: variable.$trionesBorderRadius;
  display: flex;
  flex: 1 auto;
  border: 1Px solid;
  align-items: center;
  justify-content: center;
  gap: 4Px;

  &-success {
    border-color: variable.$trionesColorSuccessBorder;
    background-color: variable.$trionesColorSuccessBg;

    .#{$trionesAlertCls}-icon {
      color: variable.$trionesColorSuccess;
    }
  }

  &-info {
    border-color: variable.$trionesColorInfoBorder;
    background-color: variable.$trionesColorInfoBg;

    .#{$trionesAlertCls}-icon {
      color: variable.$trionesColorInfo;
    }
  }

  &-warning {
    border-color: variable.$trionesColorWarningBorder;
    background-color: variable.$trionesColorWarningBg;

    .#{$trionesAlertCls}-icon {
      color: variable.$trionesColorWarning;
    }
  }

  &-error {
    border-color: variable.$trionesColorErrorBorder;
    background-color: variable.$trionesColorErrorBg;

    .#{$trionesAlertCls}-icon {
      color: variable.$trionesColorError;
    }
  }

  &-icon {
  }

  &-content {
    flex: 1 auto;
  }

  &-close-icon {
    color: variable.$trionesColorIcon;
    font-size: variable.$trionesFontSizeIcon;
    cursor: pointer;

    .triones-antm-icon {
      font-size: variable.$trionesFontSizeIcon;
    }
  }
}
