@use "../style/variable" as variable;

$descriptionsCls: 'triones-antm-descriptions';
.#{$descriptionsCls} {
  &-header {
  }

  &-view {
    display: grid;

    .#{$descriptionsCls} {
      &-row {
        display: flex;
      }

      &-item {
        display: flex;
        align-items: center;
        padding: 4Px 4Px;
        overflow: hidden;
        &-label {
          color: variable.$trionesColorTextSecondary;
          word-wrap: break-word; /* 允许长单词或URL换行 */
          overflow-wrap: break-word; /* 更标准的属性名 */
          white-space: normal; /* 默认换行行为 */
          flex-shrink: 0;
        }

        &-content {
          word-wrap: break-word; /* 允许长单词或URL换行 */
          overflow-wrap: break-word; /* 更标准的属性名 */
          white-space: normal; /* 默认换行行为 */
          flex: 1 auto;
          min-width: 0;
        }
      }
    }
  }

  &-bordered {
    border: 1Px solid variable.$trionesBorderColor;
    border-radius: variable.$trionesBorderRadius;
    overflow: hidden;

    .#{$descriptionsCls} {
      &-view{
        background-color: rgba(5,5,5,0.06);
        grid-gap: 1Px;
      }
      &-item {
        &-label {
          display: flex;
          background-color: rgb(250, 250, 250);
          align-items: center;
          padding: 4Px 4Px;
        }
        &-content {
          background-color: white;
          padding: 4Px 4Px;
        }
      }
    }

  }
}
