@use "../style/variable";

$inputCls: 'triones-antm-input';
$inputAffixWrapperCls: 'triones-antm-input-affix-wrapper';
$inputGroupWrapperCls: 'triones-antm-input-group-wrapper';
$inputPotCls: 'triones-antm-pot';

input {
  height: auto;
}

.#{$inputCls} {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  min-width: 0;
  transition: all .2s;
  padding: $trionesInputPaddingBlock $trionesInputPaddingInline;
  outline: none;
  box-shadow: none;
  border: none;
  line-height: $trionesLineHeight;
  border-radius: $trionesBorderRadius;
  font-size: $trionesInputInputFontSize;
  height: auto;

  &::placeholder {
    font-size: $trionesInputInputFontSize;
    color: #cccccc;
  }
}


.#{$inputAffixWrapperCls} {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  width: 100%;
  min-width: 0;
  line-height: $trionesLineHeight;
  padding: $trionesInputPaddingBlock $trionesInputPaddingInline;
  gap: 4Px;

  &::before {

    display: inline-block;
    width: 0;
    visibility: hidden;
    content: "\a0";
  }

  &::after {

  }

  .#{$inputCls} {
    padding: 0;
    background-color: transparent;

    &-prifix {
    }

    &-suffix {
      display: inline-flex;
      align-items: center;
      flex-shrink: 0;
      gap: 4Px;

      .clear-icon {
        color: rgba(0, 0, 0, 0.25);


        &:hover {
          color: rgba(0, 0, 0, 0.45);
        }
      }

      .triones-antm-icon {
        cursor: pointer;
      }
    }
  }
}

.#{$inputGroupWrapperCls} {
}


.#{$inputPotCls} {
  position: relative;
  display: inline-flex;
  &-wrapper{
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 8Px;
  }
  &-input {
    position: absolute;
    background-color: transparent;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &-item {
    text-align: center;
    font-size: $trionesInputInputFontSize;
    height: 32Px;
    width: 32Px;
    display: inline-flex;
    align-items: center;
    justify-content: center;


    &::placeholder {
      font-size: $trionesInputInputFontSize;
    }
    &-focus{
      &::after{
        content: ' ';
        height: 100%;
        width: 0.5Px;
        background-color: #0a0a0a;
        transition: transform 0.1s ease;
        animation: blink 1s step-end infinite;
      }
    }

  }

  .#{$inputCls}-outlined {
    font-size: $trionesInputInputFontSize;
    color: rgba(0, 0, 0, 0.88);
    background: #ffffff;
    border-width: 1Px;
    border-style: solid;
    border-color: #d9d9d9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}


.#{$inputCls}-textarea {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  outline: 0;
  padding: $trionesInputPaddingBlock $trionesInputPaddingInline;
  &::placeholder {
    font-size: $trionesInputInputFontSize;
    color: #cccccc;
  }
}

@keyframes blink  {
  50% {
    background-color: transparent;
  }
}
