@use "../style/variable" as variable;

$cls-prefix-form: 'triones-antm-form';
$cls-prefix-form-item: 'triones-antm-form-item';

.#{$cls-prefix-form} {
}

.#{$cls-prefix-form-item} {

  &-label {
    font-size: variable.$trionesFontSize;
    padding-block: 4Px;
    color: #6F6F6F;


    &-wrapper {
      // height: 1.47059em;
      line-height: 1.47059;
      display: flex;
      align-items: center;
    }

    &-left {
    }

    &-right {
      text-align: right;
    }

    &-required-mark {
      display: inline-block;
      color: red;
      width: 8Px;
      margin-left: -8Px;
    }

  }

  &-input {
    &-right {
      text-align: right;
    }

    .#{$cls-prefix-form-item} {
      &-error {
        font-size: variable.$trionesFontSizeSm;
        color: red;
      }
    }
  }

  &-horizontal {
    display: flex;
    flex-direction: row;

    .#{$cls-prefix-form-item} {
      &-label {
        flex-shrink: 1;
        min-width: 0;
      }

      &-input {
        flex: auto 1;
        flex-shrink: 1;
        min-width: 0;
      }
    }
  }

  &-hidden {
    display: none;
  }
}
