.badge-box {
  background: #eee;
  width: 40Px;
  height: 40Px;
  display: block;
  border-radius: 8Px;
  &.dark {
    background: #666666;
  }
}

.badge-demo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20Px;
}
