@use './theme-default.scss' as default;
@use './theme-dark.scss' as dark;

:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  background-color: var(--triones-antm-color-background-body);
}

body {
  color: var(--triones-antm-color-text);
  font-size: 14Px;
  font-family: var(--triones-antm-font-family);
}

a,
button {
  cursor: pointer;
}

a {
  color: var(--triones-antm-color-primary);
  transition: opacity ease-in-out 0.2s;
  &:active {
    opacity: 0.8;
  }
}

.adm-plain-anchor {
  color: unset;
  transition: none;
  &:active {
    opacity: unset;
  }
}

body.triones-antm-overflow-hidden {
  overflow: hidden !important;
}

div.triones-antm-px-tester {
  --size: 1;
  height: calc(var(--size) / 2 * 2Px);
  width: 0;
  position: fixed;
  left: -100vw;
  top: -100vh;
  user-select: none;
  pointer-events: none;
}
