.guideLayout{
  &Sider{
    z-index: 1;
    position: sticky;
    top: 104px;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 104px);
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }
}
