.layout {
  background-color: #ffffff;
  &Header {
    position: sticky;
    top: 0;
    z-index: 1000;
    max-width: 100%;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
      0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    &Right {
      &Wrapper {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        column-gap: 12px;
        padding-inline-end: 12px;
      }

      &Search {
        flex: auto;
      }

      &Menu {
        flex: 1;
        justify-content: flex-end;
      }
    }
  }
}

:global {
  .taro_page {
    overflow-y: auto !important;
  }
}
