@import "../style/variable";
$checkboxCls: 'triones-antm-checkbox';

$checkboxDisabledColor:rgba(0,0,0,0.25) !default;

.#{$checkboxCls}-wrapper{
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  gap: 8Px;
  .#{$checkboxCls}{
    position: relative;
    &-input{
      cursor: inherit;
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 1;
    }
    &-fake{
      width: 22PX;
      height: 22PX;
      &-checked{
        height: 100%;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $trionesColorPrimary;
        color: white;
        border-radius: 50vh;
        box-sizing: border-box;
        overflow: hidden;
        //i{
        //  width: 100%;
        //  height: 100%;
        //  display: flex;
        //  align-items: center;
        //  justify-content: center;
        //}
      }
      &-unchecked{
        height: 100%;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50vh;
        border: 1PX solid $trionesBorderColor;
        box-sizing: border-box;
      }
    }
  }


  &.#{$checkboxCls}-disabled{
    color: $checkboxDisabledColor;
    pointer-events: none;
    .#{$checkboxCls}-fake-checked{
      background-color: $checkboxDisabledColor;
    }
  }
}



.#{$checkboxCls}-group{
  display: flex;
}

.#{$checkboxCls}-button{
  cursor: pointer;
  display: inline-flex;
  padding: 4Px 12Px;
  border-radius: 8Px;
  position: relative;
  overflow: hidden;
  background-color: #f6f6f6;
  box-sizing: border-box;

  &-checked {
    background-color: #ffffff;
    border: 1Px solid #1677ff;

    .#{$checkboxCls}-button-content {
      color: #1677ff;
    }
  }

  &-disabled {
    pointer-events: none;
    color: $checkboxDisabledColor;
    &.#{$checkboxCls}-button  {
        &-checked{
          border: 1Px solid $checkboxDisabledColor;
          .#{$checkboxCls}-button-content {
            color: $checkboxDisabledColor;
          }
        }
      .#{$checkboxCls}-button-icon{
        border-bottom: 10Px solid $checkboxDisabledColor;
        border-right: 10Px solid $checkboxDisabledColor;
      }
    }

  }


  &-icon {
    align-items: flex-end;
    border-bottom: 10Px solid $trionesColorPrimary;
    border-left: 10Px solid transparent;
    border-right: 10Px solid $trionesColorPrimary;
    border-top: 10Px solid transparent;
    bottom: 0;
    display: flex;
    height: 0;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    width: 0;

    .checkedIcon {
      font-size: 6Px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(1Px, -1Px);
      //font-family: "triones-ant-mini-icon" !important;
      font-style: normal;
      color: #ffffff;

      &::before {
        font-style: normal;
        //content: "\e75f";
      }
    }
  }
}
