@import '~@trionesdev/antd-taro-react/style/global.scss';

$checkboxItemCls: 'triones-antm-checkbox-item';
$checkedIcon: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNzMwMjExODEzNTU1IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjgxNjIiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PHBhdGggZD0iTTg4Ny45MDQgMjk4LjIwOGMtMTIuODY0LTEyLjA2NC0zMy4xNTItMTEuNDg4LTQ1LjIxNiAxLjQwOEw0MTUuOTM2IDc1My45ODRsLTIzMy4xMi0yMjkuNjk2QzE3MC4yMDggNTExLjg3MiAxNDkuOTUyIDUxMiAxMzcuNTM2IDUyNC42MDhjLTEyLjQxNiAxMi41NzYtMTIuMjU2IDMyLjg2NCAwLjM1MiA0NS4yNDhsMjU2LjQ4IDI1Mi42NzJjMC4wOTYgMC4wOTYgMC4yMjQgMC4xMjggMC4zMiAwLjIyNCAwLjA5NiAwLjA5NiAwLjEyOCAwLjIyNCAwLjIyNCAwLjMyIDIuMDE2IDEuOTIgNC40NDggMy4wMDggNi43ODQgNC4yODggMS4xNTIgMC42NzIgMi4xNDQgMS42NjQgMy4zNiAyLjE0NCAzLjc3NiAxLjQ3MiA3Ljc3NiAyLjI0IDExLjc0NCAyLjI0IDQuMTkyIDAgOC4zODQtMC44MzIgMTIuMjg4LTIuNDk2IDEuMzEyLTAuNTQ0IDIuMzM2LTEuNjY0IDMuNTUyLTIuMzY4IDIuNC0xLjQwOCA0Ljg5Ni0yLjU5MiA2Ljk0NC00LjY3MiAwLjA5Ni0wLjA5NiAwLjEyOC0wLjI1NiAwLjIyNC0wLjM1MiAwLjA2NC0wLjA5NiAwLjE5Mi0wLjEyOCAwLjI4OC0wLjIyNGw0NDkuMTg0LTQ3OC4yMDhDOTAxLjQ0IDMzMC41OTIgOTAwLjc2OCAzMTAuMzM2IDg4Ny45MDQgMjk4LjIwOHoiIHAtaWQ9IjgxNjMiPjwvcGF0aD48L3N2Zz4=';

.#{$checkboxItemCls} {
  display: inline-block;
  line-height: 1.8;
  margin-right: 8px;
  box-sizing: border-box;

  &-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  &-wrap {
    position: relative;
    width: 22px;
    height: 22px;
    flex: 0 0 22px;
  }

  &-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-sizing: border-box;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      border: none;
      overflow: visible;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #1677ff;
      background-color: currentcolor;
      mask: url($checkedIcon) 0px 0px / 100% 100% no-repeat;
    }
  }

  &-fake {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      border-radius: 50vh;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        font-family: "triones-ant-mini-icon" !important;
        font-style: normal;
        line-height: 1;
        font-size: 8px;
      }
    }

    .checkedIcon {
      background-color: #1677ff;
      color: #ffffff;
      //mask: url($checkedIcon) 0px 0px / 100% 100% no-repeat;
      &::before {
        font-style: normal;
        content: "\e6e9";
      }
    }

    .uncheckedIcon {
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 50vh;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }

    .disabledCheckedIcon {
      box-sizing: border-box;
      border: 1px solid #cccccc;
      border-radius: 50vh;
      width: 100%;
      height: 100%;
      background-color: #f5f5f5;
      color: #cccccc;

      &::before {
        font-style: normal;
        content: "\e6e9";
      }
    }

    .disabledUncheckedIcon {
      box-sizing: border-box;
      border: 1px solid #cccccc;
      border-radius: 50vh;
      width: 100%;
      height: 100%;
      background-color: #f5f5f5;
    }
  }

  &-content {
    font-size: 17px;
    margin-left: 4px;

    &-disabled {
      opacity: 0.4;
    }
  }

  &-button {
    padding: 4px 12px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: #f6f6f6;
    box-sizing: border-box;

    &-checked {
      background-color: #ffffff;
      border: 1px solid #1677ff;

      .#{$checkboxItemCls}-button-content {
        color: #1677ff;
      }
    }

    &-disabled {
      opacity: 0.4;
    }

    &-content {
      //color: #1677ff;
    }

    &-icon {
      align-items: flex-end;
      border-bottom: 10px solid var(--nutui-color-primary, #1677ff);
      border-left: 10px solid transparent;
      border-right: 10px solid var(--nutui-color-primary, #1677ff);
      border-top: 10px solid transparent;
      bottom: 0;
      display: flex;
      height: 0;
      justify-content: flex-end;
      position: absolute;
      right: 0;
      width: 0;

      .checkedIcon {
        font-size: 4px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(1px, -1px);
        font-family: "triones-ant-mini-icon" !important;
        font-style: normal;
        color: #ffffff;

        &::before {
          font-style: normal;
          content: "\e6e9";
        }
      }
    }
  }
}
